.layout-right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100%;

  .layout-content_main-content {
    flex: 1;
    overflow: auto;
    display: flex;

    .content-container {
    }
  }


}

