node_modules
dist
.angular
.vscode
src/environments/environment*.ts
.idea
*.log
.DS_Store
.npm
.sass-cache
.cache
coverage
e2e/coverage
e2e/reports
reports
.nyc_output
tsconfig*.json
jest.config.js
ngsw-worker.js
*.iml
.history
.pnp.*
.turbo
.parcel-cache
.expo
.expo-shared
dist-ssr
out-tsc