.layout-header {
  height: 4rem;
  display: flex;
  align-items: center;

  .layout-header_menu {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    .app_label {
      margin-left: 1.25rem;
    }

    .close-icon {
      margin-left: 0;
    }

  }

  .selection-container {
    flex: 1;
    display: flex;
    justify-items: right;

    .term-search {
      width: 15rem;
      margin-top: 1rem;
      margin-left: auto;
    }

    mat-form-field.small-search {
      height: 4rem !important;
      width: 10rem !important;
    }
  }
}
