.layout-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .layout-header_label {
    margin-left: 1.25rem;
  }

  .selection-container {
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;

    .close-icon {
      margin-left: 0;
    }

    .term-search {
      width: 15rem;
      margin-top: 1rem;
    }

    .small-search {
      width: 10rem !important;
      margin-top: 1.5rem !important;

      mat-form-field {
        height: 0.5rem !important;
      }
    }

  }
}
