<mat-toolbar class="layout-header">
  <div class="layout-header_menu">
    <button (click)="onToggleMenu()" class="menu_button" mat-icon-button>
      <mat-icon class="menu_button_icon">menu</mat-icon>
    </button>
    <span class="app_label">Z-blog</span>
  </div>
  <div class="selection-container">
    <mat-form-field [ngClass]="{'small-search':(isMobile() | async)}" class="term-search">
      <mat-label>Search ...</mat-label>
      <input (keydown)="onKeyDown($event)"
             [formControl]="searchControl"
             [matAutocomplete]="esearchAutoComplete"
             matInput
             type="text">
      <mat-autocomplete #esearchAutoComplete="matAutocomplete" [displayWith]="displaySearchFn">
        @for (searchTerm of matchingSearch$(); track searchTerm) {
          <mat-option [value]="searchTerm">{{ searchTerm }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
</mat-toolbar>
