<mat-toolbar class="layout-header">
  @if (isMobile() | async) {
    <zblog-mini-header></zblog-mini-header>
  } @else {
    <span (click)="goToHomePage()" class="layout-header_label">Z-blog</span>
    <zblog-courses-menu></zblog-courses-menu>
    <div class="selection-container">
      <mat-form-field [ngClass]="{'small-search':(isMobile() | async)}" class="term-search">
        <mat-label>Search ...</mat-label>
        <input (keydown)="onKeyDown($event)"
               [formControl]="searchControl"
               [matAutocomplete]="esearchAutoComplete"
               matInput
               type="text">
        <mat-autocomplete #esearchAutoComplete="matAutocomplete" [displayWith]="displaySearchFn">
          @for (searchTerm of matchingSearch$(); track searchTerm) {
            <mat-option [value]="searchTerm">{{ searchTerm }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <div class="menu-bottom_lightning">
        <button (click)="onToggleDarkMode()" class="dark-icon-button" mat-icon-button>
          <mat-icon [ngClass]="isDarkMode() ? 'dark-icon': 'light-icon'">{{ isDarkMode() ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
        </button>
      </div>
    </div>
  }

</mat-toolbar>
