<mat-toolbar class="layout-header">

  <span class="layout-header_label">Z-blog</span>
  <div class="course-menu">
    <button [matMenuTriggerFor]="angularMenu" matButton>Angular</button>
    <mat-menu #angularMenu="matMenu">
      <button mat-menu-item>Angular 21</button>
      <button mat-menu-item>Angular 20</button>
      <button mat-menu-item>NgXs</button>
    </mat-menu>

    <button [matMenuTriggerFor]="javaMenu" matButton>Java</button>
    <mat-menu #javaMenu="matMenu">
      <button mat-menu-item>Java 25</button>
      <button mat-menu-item>Java 24</button>
      <button mat-menu-item>Java 8</button>
    </mat-menu>
  </div>
  <div class="selection-container">
    <mat-form-field class="term-search">
      <mat-label>Search ...</mat-label>
      <input (keydown)="onKeyDown($event)"
             [formControl]="searchControl"
             [matAutocomplete]="esearchAutoComplete"
             matInput
             type="text">
      <mat-autocomplete #esearchAutoComplete="matAutocomplete" [displayWith]="displaySearchFn">
        @for (searchTerm of matchingSearch$(); track searchTerm) {
          <mat-option [value]="searchTerm">{{ searchTerm }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-icon (click)="toggleView()" [matTooltip]="'Rechercher un élement'" class="search-icon">search</mat-icon>

    <div class="menu-bottom_lightning">
      <button (click)="onToggleDarkMode()" class="dark-icon-button" mat-icon-button>
        <mat-icon [ngClass]="isDarkMode() ? 'dark-icon': 'light-icon'">{{ isDarkMode() ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>
