<ul>
  <li> explan plan mongo => c'est sur mongocompass</li>
  <li> mongo read by example => peut-être n'est pas très performant ? => utiliser que en cas de besoin.</li>
  <li> une solution => utiliser le flux 
    - controller retourner flux<...> et ndjson serialization.</li>
  <li> spring data dégrade beaucoup les perfs si les objets sont complexes (contiennent des objets impriqués) 
  => une solution utiliser directement le driver de mongo</li>
 </ul>

 <h2>Kafka subjects to know</h2>
 <ul>
  <li>Topics, partitions, replication</li>

  <li>Consumer groups & rebalancing</li>

  <li>Ordering & keying strategy</li>

  <li>Producer acks, retries, idempotence</li>

  <li>Exactly-once semantics</li>

  <li>Schema Registry (Avro / JSON / Protobuf)</li>

  <li>Kafka Streams (concepts)</li>
  
  <li>KSQL (concepts)</li>

  <li>Connect (concepts)</li>
</ul>