.max-size {
  justify-content: center;
  display: flex;
  height: 100%;

  .app-layout {
    width: 80rem !important;
  }
}

.min-size {
  overflow: auto;
  max-height: 740px;
}

.app-layout {
  display: flex;
  flex-direction: row;
  height: 100%;

  .app-content {
    padding: 1rem;
  }
}
