.max-size {
  justify-content: center;
  display: flex;
  height: 100%;

  .app-layout {
    .app-content {
      left: 18rem !important;
      width: calc(100vw - 18rem);
      position: absolute;
      top: 4rem;
      overflow: auto;
      height: calc(100vh - 4rem);
    }
  }
}

.min-size {
  overflow: auto;
  max-height: 740px;
  .app-layout {
    .app-content {
      position: absolute;
      top: 4rem;
      overflow: auto;
      padding-left: 0.5rem;
      height: calc(100vh - 4rem);
    }
  }
}

.app-layout {
  display: flex;
  flex-direction: row;
}
