@use '@angular/material' as mat;

@mixin color($theme) {
  .course-menu-container {

    .menu-item:hover, .opened-course {
      background-color: mat.get-theme-color($theme, primary, 80);
    }

    .submenu li:hover, .opened-course {
      background-color: mat.get-theme-color($theme, primary, 90);
    }
  }
}

@mixin theme-courses-menu($theme) {
  @include color($theme);
}
