@use '@angular/material' as mat;

@mixin color($theme) {
  .course-menu-container {
    .menu-item:hover {
      background: mat.get-theme-color($theme, primary, 80);
    }

    .submenu li:hover {
      background: mat.get-theme-color($theme, primary, 90);
    }
  }
}

@mixin theme-courses-menu($theme) {
  @include color($theme);
}
