@use '@angular/material' as mat;

@use 'app/core/layout/components/_layout.component.scss' as app-layout;
@use 'app/core/layout/components/header/_header.component.scss' as app-header;
@use 'app/core/layout/components/menu/_menu.component.scss' as app-menu;
@use 'app/core/layout/components/menu/menu-bottom/_menu-bottom.component.scss' as app-menu-bottom;
@use 'app/core/layout/components/menu/courses-menu/_courses-menu.component.scss' as app-courses-menu;

@include mat.elevation-classes();
@include mat.app-background();

$zblog-theme-light-config: (
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$rose-palette,
  ),
  density: (
    scale: 0,
  ),
  typography: (
    brand-family: 'Roboto',
  ),
);

$zblog-theme-light: mat.define-theme($zblog-theme-light-config);

$zblog-theme-dark-config: (
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$rose-palette,
  ),
  density: (
    scale: 0,
  ),
  typography: (
    brand-family: 'Roboto',
  ),
);

$zblog-offline-config: (
  color: (
    theme-type: light,
    primary: mat.$red-palette,
    tertiary: mat.$green-palette,
  ),
  density: (
    scale: 0,
  ),
  typography: (
    brand-family: 'Roboto',
  ),
);


$zblog-theme-dark: mat.define-theme($zblog-theme-dark-config);

@mixin zblog-theme($theme, $config) {
  @include mat.theme($config);
  @include mat.all-component-themes($theme);
  @include app-layout.theme-layout($theme);
  @include app-header.theme-layout-header($theme);
  @include app-menu.theme-menu($theme);
  @include app-menu-bottom.theme-header-bottom($theme);
  @include app-courses-menu.theme-courses-menu($theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

:root {
  @include zblog-theme($zblog-theme-light, $zblog-theme-light-config);
  @include mat.fab-overrides(
      (
        foreground-color: mat.get-theme-color($zblog-theme-light, primary, 10),
      )
  );

  .dark-theme {
    @include zblog-theme($zblog-theme-dark, $zblog-theme-dark-config);
  }

}


.mat-mdc-form-field {
  .mdc-text-field--filled {
    border-bottom: none !important;

    &::before,
    &::after {
      border-bottom: none !important;
    }
  }

  .mdc-line-ripple {
    display: none !important;
  }
}

.html-tooltip {
  font-size: 12px !important;
  max-width: 300px !important;
  white-space: pre-line !important;
  line-height: 1.4 !important;
  padding: 12px !important;
  border-radius: 6px !important;
  text-align: left !important;
}

.html-tooltip .mdc-tooltip__surface {
  text-align: left !important;
}

pre {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
}

code {
  font-family: Consolas, Monaco, monospace;
}
